<div id="product_list" >
	<table class="product_table">
		<% i = 1 %>
		<% @products.each do |product| %>
		<% if i%3 == 1 %>
		<tr>
			<% end%>
			
			<%= render partial: 'shared/product_cell', locals: {product: product} %>

			<% if i%3 == 0 %>
		</tr>
		<% end %>
		<% i += 1 %>
		<% end %>
	</table>
</div>
<%= will_paginate @products %>