<% provide(:title, @product.title) %>

<h1>
<%= @product.title%>
</h1>

<table class="product_details">
	<%= render partial: "shared/product_details", locals: {product: @product} %>
</table>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
