<footer class="footer center">
    <p>
        <a href=#>DUSHOPPING</a> by CuongNX
        <br/>
        Free template designed by <a href="http://www.styleshout.com/">Styleshout</a>
    </p>
</footer>